
.inter-uniquifier {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.raleway-uniquifier {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

header {
    background-image: url(./Assets/Hero-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-bottom: 152px;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    margin:0px 158px;
}

.nav-title{
    font-weight: 900;
    font-size: 34px;
    color: #4E47FF;
}

nav a{
    text-decoration: none;
           
}

.btn-primary{
    background-color:#4E47FF ;
    font-weight: bold;
    color: #D9D9D9;
    padding: 12px 36px;
    font-size: 16px;
    border-radius: 10px;
    text-shadow: 1px 5px 10px black

}

.banner-heading1{
    font-weight: bold;
    font-size: 65px;
    color: #252432;

}

.banner{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 152px 267.5px ;
}